body
{
    background-color:#808080;
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#header-nav
{
    background-color: firebrick;
    border-radius: 0;
    border:0;
}
.navbar-brand
{
    padding-top: 25px;
}
.navbar-brand h1
{
    font-family:Arial, Helvetica, sans-serif;
    color:floralwhite;
    font-size:1.5em;
    text-shadow: 1px 1px 1px #222;
    margin-top:0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand h1:hover, .navbar-brand h1:focus
{
    background-color: #008080;
    text-decoration: none;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a
{
    color: #951C49;
    text-align:center;
}
#nav-list a:hover{
    background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
    border:1px solid whitesmoke;
}

#heading h2
{
    margin-bottom:40px;
}
#main-para
{
    border:2px soild black;
    background-color: #4169E1;
    color:#FFFAFA;
    font-style: italic;
    font-size: 20px;
}
#main-para h3
{
    margin-bottom: 20px;
}
@media(max-width:768px){
#collapsable-nav
{
    background-color: #E6E6FA;
}
}
.a1, .a2, .a3
{
    color:#191970;
    font-style: oblique;
}